---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import Container from "@/components/container.astro";
import Pagination from "@/components/Pagination.astro";
import Pagetitle from "@/components/pagetitle.astro";
import Postlist from "@/components/postlist.astro";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import getPostsByTag from "@/utils/getPostsByTag";
import getUniqueTags from "@/utils/getUniqueTags";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const posts = await getCollection("blog");
	const tags = getUniqueTags(posts);

	return tags.flatMap(({ tag, tagName }) => {
		const tagPosts = getPostsByTag(posts, tag);

		return paginate(tagPosts, {
			params: { tag },
			props: { tagName },
			pageSize: SITE.postPerPage || 6,
		});
	});
}

const { page, tagName } = Astro.props;
const { tag } = Astro.params;
---

<Layout title={`标签: ${tagName} | ${SITE.title}`}>
  <Container>
    <Pagetitle>
        <Fragment slot="title">标签: {tagName}</Fragment>
        <Fragment slot="desc">包含标签 <strong>#{tagName}</strong> 的所有文章</Fragment>
    </Pagetitle>

    <main class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
      {page.data.map((post) => (
        <Postlist post={post} aspect="square" />
      ))}
    </main>

    <div class="mt-10 flex justify-center">
        <Pagination page={page} />
    </div>
  </Container>
</Layout>
